a {
  color: #00B7FF;
}

.page-content {
  padding: 20px;
}

.err-div {
  color: red;
}

.succ-div {
  color: green;
}

label.mdl-textfield__label {
  color: gray;
}

/* <providers.ejs> ---------------------------------------------------------------------------------------------*/

#providers-table-div {
    width: 100%;
}

#providers-table {
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
}

#providers-table th {
  width: 5%;
}

#providers-table th.id {
  width: 20%;
}

#providers-table th.name {
  width: 75%;
}

#add-provider-form {
    padding: 10px;
}


#add-provider-form input {
    width: 100%;
}

#delete-providers-button, #add-provider-button, #update-provider-button {
  margin-bottom: 10px;
  width: 100%;
}

@media all and (min-width:700px){ 
  .add-provider-textfield{ width: 45%; }
}

@media all and (max-width:699px){ 
  .add-provider-textfield{ width: 100%; }
}

/* </providers.ejs> ---------------------------------------------------------------------------------------------*/

/* <articles.ejs> ---------------------------------------------------------------------------------------------*/

#find-article-button {
  width: 100%;
  margin-bottom: 10px;
}

@media all and (min-width:700px){ 
  .find-article-textfield{ width: 30%; }
}

@media all and (max-width:699px){ 
  .find-article-textfield{ width: 100%; }
}

/* </articles.ejs> ---------------------------------------------------------------------------------------------*/