<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include head %>

<style>
.demo-card-square.mdl-card {
  width: 100%;
  height: 150px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    #46B6AC;
}
</style>

  </head>
  <body>


    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
                mdl-layout--fixed-header">

    <!-- ENCABEZADO DE BUSQUEDA -->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>

      <% include drawer_menu %>

      <main class="mdl-layout__content">
        <div class="page-content">
        
          <h1><%=title %></h1>

          <div class="err-div">
            <% if(msg.err) { %>
              <span><%= msg.err %></span>
            <% } %>
          </div>

          <div class="succ-div">
            <% if(msg.succ) { %>
              <span><%= msg.succ %></span>
            <% } %>
          </div>

          <form action="/articles" id="find-article-form" method="get">
            <div class="find-article-textfield mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="find-article-id" name="articleId">
              <label class="mdl-textfield__label" for="provider-id">Articulo</label>
            </div>

            <div class="find-article-textfield mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="find-article-provider" name="providerId">
              <label class="mdl-textfield__label" for="provider-id">Proveedor</label>
            </div>

            <div class="find-article-textfield mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="find-article-name" name="description">
              <label class="mdl-textfield__label" for="find-article-name">Descripcion/Nombre</label>
            </div>

            <!-- Colored raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="find-article-button">
              Buscar
            </button>
          </form>


          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">09-567: Lampara 75w</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Precio: $12.6 <br/>
              Stock: 23 unidades <br/>
              Stock inicial: 50 unidades
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Modificar
              </a>
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Vender
              </a>
            </div>
          </div>
            
        </div> <!-- page-content -->
      </main>
    </div>

    <script src="javascripts/search-trigger.js"></script>
  </body>
</html>
