<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include head %>

  </head>
  <body>


    <!-- The drawer is always open in large screens. The header is always shown,
      even in small screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      
      <% include layout_header %>

      <% include drawer_menu %>

      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here --></div>
      </main>
    </div>

  </body>
</html>
